body{width:1200px;height:1500px;}
p{font-size:40px;}
#top{width:1180px;height:700px;}
 .left{float:left;width:46%;height:700px;}
 .right{float:right;width:52%;height:700px;}
table{aligh:left;font-size:40px;}
#down{width:1180px;height:780px;}
	